<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <main>
    <header>
      <div class="bg">
        <img src="../images/insta-bg.jpg" alt="">
      </div>
      <div id="page1">
        <div id="register-box">
          <h2>Register here!</h2>
          <div id="form-cntnr">
            <form action="/register" method="post" id="passwordForm">
              <div>
                <label for="fullname"><i class="ri-input-field"></i></label>
                <input type="text" placeholder="Enter Your Full Name" name="fullname" required>
              </div>
              <div>
                <label for="username"><i class="ri-input-field"></i></label>
                <input type="text" placeholder="Enter a Username" name="username" required>
              </div>
              <div>
                <label for="email"><i class="ri-mail-add-fill"></i></label>
                <input type="email" placeholder="Enter a EmailId" name="email" required>
              </div>
              <div>
                <label for="password"><i class="ri-lock-password-fill"></i></label>
                <input type="password" id="password" placeholder="Enter a password" required>
                <span class="password-toggle" onclick="togglePasswordVisibility('password')">
                  <i id="close" class="ri-eye-close-fill"></i>
                  <i id="open" class="ri-eye-fill"></i>
                </span>
              </div>
              <div>
                <label for="rePassword"><i class="ri-lock-password-fill"></i></label>
                <input type="text" id="rePassword" name="password" placeholder="reEnter password" required>
              </div>
              <span id="error" class="error"></span>
              <div id="terms">
                <p>People who use our service may have uploaded your contact information to Instagram. <a href="#">Learn More</a></p>
                <p>By signing up, you agree to our Terms , Privacy Policy and Cookies Policy .</p>
                <h5>Alread existing user's login here! <a href="/login">login</a></h5>
              </div>
              <input id="submit-btn" type="submit" value="Sign up">
            </form>
          </div>
        </div>
      </div>
    </header>
  </main>
  <script>
      document.getElementById('passwordForm').addEventListener('submit', function(event) {
      var password = document.getElementById('password').value;
      var rePassword = document.getElementById('rePassword').value;
      var errorSpan = document.getElementById('error');

      if (password !== rePassword) {
        errorSpan.textContent = 'Passwords do not match!';
        event.preventDefault(); // Prevent form submission
      } else {
        errorSpan.textContent = '';
      }
    });
    let a=()=>{
      console.log("object")
      var openEye = document.querySelector('#open')
      openEye.style.visibility = "hidden"
    }
    a();
    function togglePasswordVisibility(inputId) {
    var eyeSpan = document.querySelector('.password-toggle')
    var closeEye = document.querySelector('#close')
    var openEye = document.querySelector('#open')
    var passwordInput = document.getElementById(inputId);
    passwordInput.type = (passwordInput.type === 'password') ?  'text' : 'password';
    eyeSpan.addEventListener("click", ()=>{
      if(passwordInput.type === 'text'){
        closeEye.style.visibility = "hidden"
        openEye.style.visibility = "visible"
      }
      else if(passwordInput.type == 'password'){
        openEye.style.visibility = "hidden"
        closeEye.style.visibility = "visible"
      }
    })
  }
  </script>
</body>
</html>